* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "Luckiest Guy";
  src: url(../Fonts/LuckiestGuy-Regular.ttf);
}

@font-face {
  font-family: "Wendy One";
  src: url(../Fonts/WendyOne-Regular.ttf);
}

* {
  color: black;
}

header {
  padding: 1rem 0.5rem;
  background-color: rgb(134, 187, 255);
}

nav {
  font-size: 16px;
  font-family: "Poppins";
  width: 50%;
  margin: auto;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.nav-items a {
  text-decoration: none !important;
}

.nav-items li {
  list-style: none;
}

.profile-information {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.profile-information .image {
  padding: 1rem;
  margin: auto 2vw;
}

.profile-information img {
  width: 20vw;
}

.profile-information .information {
  width: 60vw;
  margin: auto 1rem;
  padding: 5rem;
  h1 {
    font-size: 55px;
    font-family: "Wendy One";
    word-spacing: 5px;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 40px;
    margin-top: 0.5rem;
  }

  h3 {
    font-size: 32px;
    margin-top: 0.5rem;
  }

  h6 {
    font-size: 18px;
    font-weight: 200;
    margin: 1.5rem 0;
  }
}

.profile-information .information-button {
  margin: 2rem 0 0 0;
}

.information-button button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.information-button .btn {
  font-family: "Wendy One";
  letter-spacing: 2px;
  font-size: 16px;
  padding: 12px;
  width: 10vw;
}

.information-button .view-projects-btn {
  background-color: blue;
  color: white;
}

.information-button .contact-me-btn {
  border: 1px solid rgb(17, 0, 255);
  color: rgb(17, 0, 255);
  margin-left: 1rem;
} */
